@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:'IBM+Plex+Sans+Arabic', sans-serif; 
    margin:0;
    display:grid;
    place-content: center; 
    min-height:100vh; 
    padding:25px; 
}
.button{
    font-size:12px;
    border: 2px solid gray;
    border-radius:5px; 
    padding:5px; 
    background-color:lightgray;  
}
.btn{
    margin-right:5px;
}
.button .row{
    font-weight:600; 
    font-size:small;   
    margin-top:5px; 
    margin-bottom:auto; 
    gap:1px;
}
.button .row .btn{
    border: 1px solid grey;    
    box-shadow: 
        0px 2px 3px rgba(0,0,0.5),
        inset 0px 0px rgba(154,147,113,0.95); 
} 
.button .row button.MODE{
    background-color: turquoise;
    color:black;
}
